<header class="site-header">
  <a href="#" class="logo">
    <img src="../assets/KKc-logo.png" alt="logo" class="img-logo" />
  </a>
  <div class="header-nav">
    <nav id="nav" class="nav">
      <ul class="nav--list">
        <li class="nav--item"><a href="#" class="nav--link icon wishlist"></a></li>
        <li class="nav--item"><a href="#" class="nav--link icon cart"></a></li>
        <li class="nav--item"><a href="#" class="nav--link icon user"></a></li>
        <li class="nav--item"><a href="#" class="nav--link icon hamburger"></a></li>
      </ul>
    </nav>
  </div>
</header>
