<footer class="text-center">
  <div class="footer-social">
    <nav class="nav">
      <ul class="nav--list">
        <li class="nav--item"><a class="nav--link social-icon" href="#">fb</a></li>
        <li class="nav--item"><a class="nav--link social-icon" href="#">insta</a></li>
        <li class="nav--item"><a class="nav--link social-icon" href="#">tw</a></li>
        <li class="nav--item"><a class="nav--link social-icon" href="#">yt</a></li>
      </ul>
    </nav>
  </div>
  <div class="footer-nav">
    <nav class="nav">
      <ul class="nav--list">
        <li class="nav--item"><a class="nav--link" href="#">About</a></li>
        <li class="nav--item"><a class="nav--link" href="#">Privacy Policy</a></li>
        <li class="nav--item"><a class="nav--link" href="#">Legal</a></li>
        <li class="nav--item"><a class="nav--link" href="#">Nutritional Information</a></li>
        <li class="nav--item"><a class="nav--link" href="#">Site Owner</a></li>
        <li class="nav--item"><a class="nav--link" href="#">Site Map</a></li>
      </ul>
    </nav>
  </div>
  <div class="security text-center">
    <img src="../assets/security.png" alt="security" />
  </div>
  <div class="copyright">
    <p class="text3">Nestle 2018 Reg trademark of societe des product Nestle S.A</p>
  </div>
</footer>
