/*
 *Colors
 **/
$color-black: #000000;
$color-gray01: #929292;
$color-gray02: #484848;
$color-lightGray01: #f2f2f2;
$color-lightGray02: #cccccc;
$color-red: #e50d1a;
$color-white: #fff;

$color-positive: '';
$color-negative: '';
$color-warning: '';
$color-information: '';

$color-link: '';
$color-link-hover: '';
/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

$font-size-xs: 14px;
$font-size-xs1: 16px; 
$font-size-small: 18px;
$font-size-small1: 24px;
$font-size-med: 32px;
$font-size-med1: 40px;
$font-size-med2: 48px;
$font-size-large: 56px;
$font-size-large1: 64px;

/* $ff-primary: GTSectraDisplayTrial-Regular;
$ff-secondary: Muli-Regular;
$ff-lucid: LucidaGrande;
 */

$ff-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$ff-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$ff-lucid: "Helvetica Neue", Helvetica, Arial, sans-serif;
