.icon {
  background: url(../assets/icons.png);
  height: 25px;
  width: 30px;
  display: inline-block;
  &.wishlist {
    background-position: 0px 0px;
  }
  &.cart {
    background-position: -48px 0px;
  }
  &.user {
    background-position: -95px 0px;
  }
  &.hamburger {
    background-position: -143px 0px;
  }
}

.social-icons {
  background: url(../assets/social-icons.png);
  height: 50px;
  width: 58px;
  display: inline-block;
  &.fb {
    background-position: 0px 0px;
  }
  &.insta {
    background-position: 0px 0px;
  }
  &.tw {
    background-position: 0px 0px;
  }
  &.yt {
    background-position: 0px 0px;
  }
}