/********* atoms text *************/
.text-center {
  text-align: center;
}
.text1 {
  font-family: $ff-primary;
  font-size: $font-size-med;
  color: $color-black;
  line-height: 40px;
}

.text2 {
  font-family: $ff-primary;
  font-size: $font-size-small1;
;
  color: $color-black;
  line-height: 40px;
}

.text3 {
  font-family: $ff-primary;
  font-size: $font-size-small;
  color: $color-black;
  line-height: 32px;
}

.text4 {
  font-family: $ff-secondary;
  font-size: $font-size-xs1;
  color: $color-gray01;
  line-height: 24px;
}

.text5 {
  font-family: $ff-lucid;
  font-size: $font-size-small1;
  color: $color-black;
  line-height: 32px;
}

.text6 {
  font-family: $ff-secondary;
  font-size: $font-size-xs;
  color: $color-black;
  line-height: 24px;
}

.text7 {
  font-family: $ff-primary;
  font-size: $font-size-small;
  color: $color-black;
  line-height: 24px;
}

.text8 {
  font-family: $ff-primary;
  font-size: $font-size-small;
  color: $color-gray02;
  line-height: 32px
}
