.home {
  .pick {
    padding: 40px 0;
  }
  .section-five {
    margin-bottom: 15px;
  }
  .section-four, .section-three, .section-two {
    margin-bottom: 40px;
  }
  .carousel {
    margin-top: 40px;
    margin-bottom: 70px;
  }
}