<ul class="steps">
    <li class="active"><a href=""></a></li>
    <li class="active"><a href=""></a></li>
    <li class="active"><a href=""></a></li>
    <li class="active"><a href=""></a></li>
    <li class="active"><a href=""></a></li>
  </ul>
<div class="page-inner space-wrap">
  <h4 class="title">Review your break</h4>
  <div class="review">
    <div class="review--content">
      <span class="review--name">Size</span>
      <a routerLink="/select-fingers" class="review--action">change</a>
    </div>
    <div class="card card-v">
      <div class="card--content">
        <div class="card--count">8</div>
        <p class="text3">{{formData.finger}}</p>
      </div>
    </div>
  </div>
  <div class="review">
    <div class="review--content">
      <span class="review--name">Chocolate</span>
      <a routerLink="/select-chocolate" class="review--action">change</a>
    </div>
    <div class="card card-v">
      <div class="card--content">
        <img src="http://via.placeholder.com/50x50" class="img-round" />
        <p class="text3">{{formData.chocolate}}</p>
      </div>
    </div>
  </div>
  <div class="review">
    <div class="review--content">
      <span class="review--name">Ingredients</span>
      <a routerLink="/select-ingredients" class="review--action">change</a>
    </div>
    <div class="card card-v">
      <div class="card--content" *ngFor = "let item of formData.ingredient | keyvalue">
        <img src="http://via.placeholder.com/50x50" class="img-round" />
        <p class="text3">{{item.key}}</p>
      </div>
    </div>
  </div>
  <div class="review space-wrap">
    <div class="review--content">
      <span class="review--name">Packaging</span>
      <a routerLink="/customize-package" class="review--action">change</a>
    </div>
    <div class="card card-v">
      <div class="card--content">
        <img src="http://via.placeholder.com/50x50" class="img-round" />
        <p class="text3">Ionic London</p>
      </div>
    </div>
  </div>
  <div class="review">
    <div class="review--content">
      <span class="review--name">Message</span>
      <a class="review--action"></a>
    </div>
    <form>
      <textarea>{{formData.message}}</textarea>
    </form>
  </div>
  <form>
    <button type="button" class="btn btn-mobile btn-primary">Add to basket</button>
  </form>
</div>
