<div class="page-inner">
  <ul class="steps">
    <li class="active"><a href=""></a></li>
    <li class="active"><a href=""></a></li>
    <li class="active"><a href=""></a></li>
    <li class="active"><a href=""></a></li>
    <li><a href=""></a></li>
  </ul>
  <h4 class="title space-wrap">Add a personal message</h4>
  <form>
    <div class="space-wrap">
      <textarea placeholder="Add your messgae here"></textarea>
    </div>
    <button type="button" [routerLink]="['/review']" class="btn btn-mobile btn-primary">Review Your break</button>
  </form>
</div>
