.newsletter {
  padding-top: 52px;
  .newsletter--text1 {
    padding-bottom: 12px;
  }
  .newsletter--email {

  }
  .newsletter--btn {
    padding-bottom: 40px;
  }
  .newsletter--legal_info {
    padding-bottom: 64px;
  }
}