.product-details {
  padding-top: 96px;
  .product-details--text1 {

  }
  .products-details--text2 {
    padding-bottom: 28px;
  }
  .product-details--imagery {

  }
  .product-details--slider {
    padding-bottom: 28px;
  }
}