.steps {
  display: flex;
  justify-content: space-between;
  background: $color-white;
  padding: 10px 30px;
  li {
    min-height: 40px;
    min-width: 40px;
    border-radius: 50%;
    background: $color-lightGray01;
    text-align: center;
    &.active {
      background: $color-lightGray02;
    }
  }
}