.story1 {
  padding-top: 64px;
  .story1--label {
    padding-bottom: 28px;
  }
  .story1--text {
    padding-bottom: 56px;
  }
  .story1--btn {
    padding-bottom: 72px;
  }
}

.story2 {
  padding-top: 94px;
  .story2--label {
    padding-bottom: 16px;
  }
  .story2--btn {
    padding-bottom: 88px;
  }
}