<ul class="steps">
  <li><a href="">1</a></li>
  <li><a href="">2</a></li>
  <li><a href="">3</a></li>
  <li><a href="">4</a></li>
</ul>

<!--card -->
<div class="card row">
  <div class="card--content col-sm-6">
    <div class="card--count">4</div>
    <h6>Fingers</h6>
    <h5>5.00</h5>
  </div>
  <div class="card--content col-sm-6">
    <div class="card--count">8</div>
    <h6>Fingers</h6>
    <h5>5.00</h5>
  </div>
</div>

<div class="card card-v">
  <div class="card--content">
    <img src="http://via.placeholder.com/50x50" class="img-round" />
    <h6>Dark Chocolate</h6>
  </div>
  <div class="card--content">
    <img src="http://via.placeholder.com/50x50" class="img-round"/>
    <h6>Milk Chocolate</h6>
  </div>
  <div class="card--content">
    <img src="http://via.placeholder.com/50x50" class="img-round"/>
    <h6>White Chocolate</h6>
  </div>
</div>

<div class="card card-h row">
  <div class="card--content col-sm-6">
    <img src="http://via.placeholder.com/50x50" class="img-round" />
    <h6>Dark Chocolate</h6>
  </div>
  <div class="card--content col-sm-6">
    <img src="http://via.placeholder.com/50x50" class="img-round"/>
    <h6>Milk Chocolate</h6>
  </div>
  <div class="card--content col-sm-6">
    <img src="http://via.placeholder.com/50x50" class="img-round"/>
    <h6>White Chocolate</h6>
  </div>
</div>